





ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(8, 83, 8);
}
li {
    color: greenyellow;
    float: left;
}

li a {
    display: block;
    color: rgb(104, 168, 8);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: monospace;
    font-size: 30px;
}

body{
    background: url('https://ddragon.leagueoflegends.com/cdn/img/champion/loading/Twitch_0.jpg')
}
 li a:hover {
    background-color: rgb(1, 46, 1);
} 


.text{
    font-family: monospace;
    color: rgb(129, 158, 84);

}



